@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
	text-align: center;
  font-family: 'Poppins', sans-serif;
	margin: 0 auto;
  margin-top: 10px;
	background-color: #FFF;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}


.container {
	/* border-style: none none solid none;
	border-color: #1b98f5; */
	padding: 25px;
	font-weight: bold;
  margin: 2px;
  text-align: center;

}

button {
	margin: 15px;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-weight: bold;
	width: 20%;
  background-color: #000;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;

   &:hover,
   &:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
    background-color: #2980b9;
    transition: 0.25s;
  }
}


nav{
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 75px;
 background: #2980b9;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

nav > ul > .left {
  list-style: none;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 545px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
}
  nav > ul > .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    @media all and (min-width: 545px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  }

nav > .navbar{
 float: right;
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 width: 100%;
 background: #2980b9;
 margin: auto;
}
nav > .navbar > .menu{
  display: flex;
}

.navbar > .menu > li{
  list-style: none;
  margin: 0px 15px;
  display: none;
  @media all and (min-width: 545px) {
      display: block;
  }
}
.navbar > .left > li{
  list-style: none;
  margin: 0px 15px;
  display: none;
  @media all and (min-width: 545px) {
      display: block;
  }
}

.navbar > .menu > li > a{
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: #000;
    background: #FFF;
    box-shadow: 0px 4px 0px 0px #FFF;
    transition: background-color .25s;
    transition: box-shadow .15s;
  }
  @media all and (min-width: 545px) {
      padding: 20px;
  }
}

.navbar > .left > li > a{
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color: #000;
    background: #FFF;
    box-shadow: 0px 4px 0px 0px #FFF;
    transition: background-color .25s, box-shadow .15s;
  }
  @media all and (min-width: 545px) {
    padding: 20px;
  }
}

.left{
float: left;
}

.container{
  color: #000;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 15px;
  text-align: center;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #2980b9;
  color: #fff;
  padding-top: 15px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.footer{

  margin: 0 15px;

}

#CR{

float:left;

}

#pp{
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  color: #FFF;
  font-size: 17px;
  font-weight: 500;
}