@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

button {
  margin: 15px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  width: 20%;
  background-color: #000;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
    background-color: #2980b9;
    transition: 0.25s;
  }
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #2980b9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav > ul > .left {
  list-style: none;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 545px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
nav > ul > .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 545px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

nav > .navbar {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: #2980b9;
  margin: auto;
}
nav > .navbar > .menu {
  display: flex;
}

.navbar > .menu > li {
  list-style: none;
  margin: 0px 15px;
  display: none;
  @media all and (min-width: 545px) {
    display: block;
  }
}
.navbar > .left > li {
  list-style: none;
  margin: 0px 15px;
  display: none;
  @media all and (min-width: 545px) {
    display: block;
  }
}

.navbar > .menu > li > a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: #000;
    background: #fff;
    box-shadow: 0px 4px 0px 0px #fff;
    transition: background-color 0.25s;
    transition: box-shadow 0.15s;
  }
  @media all and (min-width: 545px) {
    padding: 20px;
  }
}

.navbar > .left > li > a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color: #000;
    background: #fff;
    box-shadow: 0px 4px 0px 0px #fff;
    transition: background-color 0.25s, box-shadow 0.15s;
  }
  @media all and (min-width: 545px) {
    padding: 20px;
  }
}

.left {
  float: left;
}

.container {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 15px;
  text-align: center;
  align-items: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #2980b9;
  color: #fff;
  padding-top: 15px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.footer {
  margin: 0 15px;
}

#CR {
  float: left;
}

#pp {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.input {
  margin: 1em 0 1em 0;
  margin-right: 20px;
  max-width: 200px;
  position: relative;
  text-align: center;
  display: inline-block;
}

.input input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.input :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #fff;
  font-weight: bold;
}

.input :is(input:focus, input:valid) {
  border-color: #2980b9;
}

input[type="number"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

.SignUp {
  max-width: fit-content;
  margin: 0 auto; /* Center horizontally */
  padding: 10px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center; /* Center horizontally */
}
